---
import Box from "./../ui/Box.astro";
import Button from "./../ui/Button.astro";
import Tag from "./../ui/Tag.astro";
const { project } = Astro.props;
---

<Box class="flex p-5 md:flex-row flex-col">
  <figure class="p-3 flex items-center justify-center">
    <img
      src={project.imgUrl}
      class="h-[100px] w-[200px] max-w-none object-contain"
      alt={`project-${project.name}`}
    />
  </figure>
  <div class="w-full">
    <h3 class="text-3xl font-light">
      {project.name}
    </h3>
    <p>
      {project.summary}
    </p>
    <div class="flex flex-col md:flex-row justify-between mt-3 mb-3">
      <div class="flex gap-2">
        {
          project.stack.map((stack: string) => (
            <Tag class="is-size-6">
              <i class={`devicon-${stack} colored`} />
            </Tag>
          ))
        }
      </div>
      <div class="flex flex-col md:flex-row gap-1">
        <Button href={project.source} target="_blank" variant="dark">
          <i class="devicon-github-original mr-1"></i>
          <span>Codigo fuente</span>
        </Button>
        <Button href={project.demo} target="_blank" variant="accent">
          <i class="icon devicon-devicon-plain colored mr-1"></i>
          <span>Demo</span>
        </Button>
      </div>
    </div>
  </div>
</Box>
