<!DOCTYPE html>
<html>
<%- partial('_partial/head')
    %>

  <body>
    <section class="section">
      <div class="container">
        <%- partial('_partial/header')
            %>
          <%- body
              %>
      </div>
    </section>
    <%- partial('_partial/footer')
        %>
      <%- partial('_partial/after-footer')
          %>
  </body>

</html>
