<footer class="footer pb-6">
  <div class="content has-text-centered">
    <p>
      <%- render(theme.copyright, 'ejs'); %>
      <% if (theme.linkedinProfile){ %>
        <a href="https://www.linkedin.com/in/<%= theme.linkedinProfile %>"><%= config.author %></a
        >.
      <% } %>
    </p>
    <% if (theme.linkedinProfile){ %>
      <a href="https://www.linkedin.com/in/<%= theme.linkedinProfile %>" aria-label="linkedin">
        <i class="devicon-linkedin-plain is-size-5"></i>
      </a>
    <% } %>

    <% if (theme.linkedinProfile){ %>
      <a :href="https://github.com/<%= theme.githubProfile %>" aria-label="github">
        <i class="devicon-github-original is-size-5"></i>
      </a>
    <% } %>
  </div>
</footer>
