---

import { description as defaultDescription, title as titleDefault, url } from '../data/site.json'
const { title = titleDefault, description = defaultDescription } = Astro.props;
---

<meta charset="utf-8">
<title>{title}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content{description}>
<meta name='google-site-verification' content='bnDck8whGv2SHMuVDS7gTTXGDQ0d2G_ux3wucCIVyIc'>
<link rel="icon" href="img/favicon-16x16.png" type="image/png">
<link rel="icon" href="img/favicon-32x32.png" type="image/png">
<link rel="icon" href="img/favicon-96x96.png" type="image/png">

<meta property="og:type" content="website">
<meta property="og:title" content={title}>
<meta property="og:url" content={Astro.site}>
<meta property="og:site_name">
<meta property="og:description" content={description}>
<meta property="og:locale" content="es_ES">
<meta property="og:image" content={`${Astro.site}/img/og.png`}>
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content={`${Astro.site}/img/og.png`}>
<link rel="shortcut icon" href="img/favicon.ico">
<link rel="stylesheet" type="text/css" href="/src/scss/global.scss">
