<!DOCTYPE html>
<html lang="<%- page.lang %>">
<%- partial('_partial/head')
    %>

  <body>
    <div>
      <section class="section">
        <div class="container">
          <%- partial('_partial/header')
              %>
            <%- body
                %>
        </div>
      </section>
      <%- partial('_partial/footer')
          %>
        <%- partial('_partial/after-footer')
            %>
    </div>
  </body>

</html>
